---
import Footer from '../components/Footer.astro';
import ContentContainer from '../components/ContentContainer.astro';
import Checklist from '../components/Checklist.astro';
import ImageCarousel from '../components/ImageCarousel.astro';
import Layout from '../layouts/Layout.astro';
import OrderForm from '../components/OrderForm.astro';

const checklistItems = [
  "Lindungi privasi dari kamera tersembunyi.",
  "Deteksi akurat dengan inframerah.",
  "Ringkas & mudah dibawa.",
  "Baterai isi ulang tahan lama."
];

const images = [
  { src: "/assets/Screenshot-2025-10-03-at-00.22.58.webp", alt: "Image 1" },
  { src: "/assets/Screenshot-2025-10-03-at-00.28.24.webp", alt: "Image 2" },
  { src: "/assets/Screenshot-2025-10-03-at-00.22.58.webp", alt: "Image 3" },
];

const pixelId = '2393815634108200';
---

<Layout pixelId={pixelId}>
	<ContentContainer>
		<h1>hello world</h1>
			<ul class="text-center my-8">
			<li><img src="/assets/2 (1).webp" alt="Image 2" class="w-full" /></li>		
			<li><img src="/assets/1-1.webp" alt="Image 1" class="w-full" /></li>
			<li><img src="/assets/3.webp" alt="Image 3" class="w-full" /></li>
			<li><img src="/assets/5.webp" alt="Image 5" class="w-full" /></li>
			<li><img src="/assets/6.webp" alt="Image 6" class="w-full" /></li>
			<li><img src="/assets/9.webp" alt="Image 9" class="w-full" /></li>
			</ul>
		<Checklist items={checklistItems} />
		<ImageCarousel images={images} />
		<OrderForm
      product_id="SKU-003"
      product_name="Detektor Inframerah"
      price={99000}
      currency="IDR"
      quantity={1}
    />
	</ContentContainer>
	<Footer/>
</Layout>
