---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import ContentContainer from '../components/ContentContainer.astro';

const pixelId = '557563629722789';
---
<Layout pixelId={pixelId}>
	<ContentContainer>
		<h1>hello world</h1>
	</ContentContainer>
	<Footer/>
</Layout>
