---
import ContentContainer from '../components/ContentContainer.astro';
import Footer from '../components/Footer.astro';
import ImageCarousel from '../components/ImageCarousel.astro';
import Layout from '../layouts/Layout.astro';
import OrderForm from '../components/OrderForm.astro';

const pixelId = '2393815634108200';

const images = [
  { src: '/assets/CqZCvwYMYMftg6CqZrb1vacSU74XQT7iKpgyV35KQ.webp', alt: 'Wart remover product photo 1' },
  { src: '/assets/CqZhban9bBE5H43CqZrU3eN3ZvdfcsTcS4nAy69lZKw.webp', alt: 'Wart remover product photo 2' },
  { src: '/assets/CqZfvDDKovfjCuKCqZrJNAw576iz2XTBiPH7KjS6OxQ.webp', alt: 'Wart remover product photo 3' },
  { src: '/assets/CqZfq93ZtnZmfDyCqZr6FXN99jhpdQTXiQhLVDGINfw.webp', alt: 'Wart remover product photo 4' }
];
---

<Layout pixelId={pixelId}>
  <ContentContainer>
    <img
      src="/assets/Generated-Image-September-07-2025-12_58AM.webp"
      alt="Ilustrasi produk penghilang kutil"
      class="mx-auto mb-6 w-full max-w-xl rounded-lg shadow-lg"
    />
    <section class="mx-auto mb-8 max-w-2xl text-center">
      <h2 class="mb-4 text-center text-2xl font-semibold text-slate-800">
        Anda Mengalami Masalah Ini?
      </h2>
      <ul class="inline-block space-y-3 text-left text-lg text-slate-700 list-disc marker:text-red-500 pl-6">
        <li>Punya masalah kutil yang membandel?</li>
        <li>Sudah coba berbagai cara tapi tetap muncul lagi?</li>
        <li>Malu karena kutil di tangan/kaki bikin tidak percaya diri?</li>
        <li>Atau takut biayanya mahal kalau ke klinik?</li>
      </ul>
	 </section>
	 	 <ul class="text-center my-8">
			<li><img src="/assets/Generated-Image-September-06-2025-12_45AM-1.webp" alt="Image 2" class="w-full" /></li>		
			<li><img src="/assets/CqMW3D9mNzwssnuCqMqOoqbZJORdtXRJCWI6BWRP8yg.webp" alt="Image 1" class="w-full" /></li>
			<li><img src="/assets/CqMqWVZtvfEqh7lCqMUN17O42y6X3yT3GZW5e9PBKB1A.webp" alt="Image 3" class="w-full" /></li>
			<li><img src="/assets/CqMWEkjmCK9bsD7CqM9iYlA3oJg4CdR9WgB5kpv0peFg-1.webp" alt="Image 5" class="w-full" /></li>
			<li><img src="/assets/CqMJ4NGW1TvELe2CqMGhGauimpXZLjQcyjN8eZUSwvwg-1.webp" alt="Image 6" class="w-full" /></li>
			</ul>
    <ImageCarousel images={images} />
    <OrderForm
      product_id="SKU-003"
      product_name="Penghilang Kutil"
      price={99000}
      currency="IDR"
      quantity={1}
    />
  </ContentContainer>
  <Footer />
</Layout>
