---
import '../styles/global.css'
import FacebookPixel from '../components/FacebookPixel.astro';

const { title = 'Belanja COD', pixelId } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<FacebookPixel pixelId={pixelId} />
	</head>
	<body class="bg-white text-slate-800">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
